.sidebar {
  background-color: #f8f9fa;
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -250px;
  transition: left 0.3s ease;
}

.sidebar.open {
  left: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.sidebar li:last-child {
  border-bottom: none;
}

.sidebar a {
  text-decoration: none;
  color: #000;
}

.sidebar a:hover {
  color: #00adb5;
}
